.incrementar {
    background-color: #28a745;
    border-color: #28a745
  }
  
.decrementar {
    background-color: #dc3545;
    border-color: #dc3545;
  }
.reiniciar {
    background-color: #ffc107;
    border-color: #ffc107;
  }